<mat-toolbar>
  <span>{{currentTime}}</span>
  <span style="flex: 1 1 auto"></span>
  <mat-form-field>
    <mat-select placeholder="Filter by Plugin" [(ngModel)]="currentPlugin" (change)="doFilter()">
      <mat-option value="all">All Plugins</mat-option>
      <mat-option *ngFor="let plugin of filters" [value]="plugin">{{plugin}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div class="content-container">
  <mat-card *ngFor="let activity of filteredData" class="activity">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>account_balance</mat-icon></div>
      <mat-card-title>{{activity.title}}</mat-card-title>
      <mat-card-subtitle>{{formatTime(activity.timestamp)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="activity.avatar" />
      <p>{{activity.content}}</p>
    </mat-card-content>
  </mat-card>
</div>
