<md-toolbar>
  <span>{{currentTime}}</span>
  <span style="flex: 1 1 auto"></span>
  <md-select placeholder="Filter by Plugin" [(ngModel)]="currentPlugin" (change)="doFilter()">
    <md-option value="all">All Plugins</md-option>
    <md-option *ngFor="let plugin of filters" [value]="plugin">{{plugin}}</md-option>
  </md-select>
</md-toolbar>
<div class="content-container">
  <md-card *ngFor="let activity of filteredData" class="activity">
    <md-card-header>
      <div md-card-avatar><md-icon>account_balance</md-icon></div>
      <md-card-title>{{activity.title}}</md-card-title>
      <md-card-subtitle>{{formatTime(activity.timestamp)}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <img [src]="activity.avatar" />
      <p>{{activity.content}}</p>
    </md-card-content>
  </md-card>
</div>
