<md-toolbar>
  <span style="flex: 1 1 auto"></span>
  <md-select placeholder="Filter by Feed">
  <md-option *ngFor="let feed of filters.rss" [value]="feed">{{feed}}</md-option>
  </md-select>
</md-toolbar>
<div class="content-container">
  <md-card *ngFor="let feed of rss">
    <md-card-header>
      <div md-card-avatar><md-icon>account_balance</md-icon></div>
      <md-card-title>{{feed.title}}</md-card-title>
      <md-card-subtitle>{{formatTime(feed.timestamp)}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <img [src]="feed.avatar" />
      <p>{{feed.content}}</p>
    </md-card-content>
  </md-card>
</div>
