<mat-toolbar>
  <span style="flex: 1 1 auto"></span>
  <mat-form-field>
    <mat-select placeholder="Filter by Feed">
      <mat-option *ngFor="let feed of filters.rss" [value]="feed">{{feed}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div class="content-container">
  <mat-card *ngFor="let feed of rss">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>account_balance</mat-icon></div>
      <mat-card-title>{{feed.title}}</mat-card-title>
      <mat-card-subtitle>{{formatTime(feed.timestamp)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="feed.avatar" />
      <p>{{feed.content}}</p>
    </mat-card-content>
  </mat-card>
</div>
